body {
  background-image: url("../img/burger.png");
  /*background-color: yellow;*/
  background: #F0D371;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: .85;
}

h1 {
	color: red;
}

p {
	color: blue;
}

.form-control {
  /*background: #FAEBD7;*/
  margin: 5px;
  padding: 5px;
}

.btn-primary{
  background-color: blue;
  border-color: #996600;
}

/*.label {
  font-weight: bold;
}*/

/*.create-update-form {
  background: #cca300;
  margin: 5px;
  padding: 5px;
}*/

/*.form-group {
  margin-bottom: 5px;
}*/

/*#devourForm{
  float: right;
  width: 20%;
  text-align: right;
}*/

/*.burgerName{
  font-size: 1.5em;
}*/